@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  color: aliceblue;
  font-family: 'Arial', sans-serif;
  background-color: rgb(31 41 55);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}