@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  color: aliceblue;
  font-family: 'Arial', sans-serif;
  background-color: rgb(31 41 55);
}
/* Add this to your global CSS file (e.g., globals.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}